<%- include('./partials/header') %>

<div class="home-page">
<h1>Knit Away...</h1>

<h4>Log in to share your creative ideas...</h4>
<!-- <h5>Beginner's Guide</h5>
<p>Types of Yarns</p>
   <p>Details about different Types of Yarns</p>

<h5>Knitting Needles</h5>
   <p>Needle Size(US)</p> -->

</div>

<%- include('./partials/footer') %>