<%- include('./partials/header') %>

<h2>Beginner's Guide</h2>
<h1>Types of Yarns</h1>
   <p>Details about different Types of Yarns</p>

<h1>Knitting Needles</h1>
   <p>Needle Size(US)</p>

<h1>Knit Away...</h1>

<%- include('./partials/footer') %>