* {
  box-sizing: border-box;
  font-family: 'Arima', cursive;
}

body {
  /* padding: 50px; */
  /* font-family: 'Arima', cursive; */
  /* grid-template-columns: repeat(4, 1fr); */

 background-image: url("https://i.imgur.com/i4NRXMz.jpg");
  background-size:cover;
  background-repeat: no-repeat; 
  /* width:100%;
  height:100%; */
  /* box-sizing:border-box; */
  /* background-color: #FA8072; */

  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

a {
  color: white;
  font-size: 25px;
}

/* #home-page {
  content: "";
  background: url("https://i.imgur.com/i4NRXMz.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
} */

/* div::after {
  content: "";
  background: url("https://i.imgur.com/i4NRXMz.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
} */

h1 {
  font-size: 160px;
  font-style: oblique;
  text-align: center;
  text-shadow: 4px 4px #f1a9a9;
  color: #510606;
  margin: 200px;
}

h2 {
  color: #510606;
  text-shadow: 4px 4px #f1a9a9;
  text-align: center;
  font-size: 70px;
}

h4 {
  font-style: oblique;
  text-align: center;
  font-size: 40px;
  color: #510606;
  margin-top: -250px;
  /* padding: 200px; */
}

/* h5 {
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
} */

#container {
  background-color:#f1a9a9
  /* linear-gradient(105deg, rgba(255,255,255,.2) 39%, rgba(51,56,57,1) 96%) center center / 10000px 10000px no-repeat,
 center no-repeat, 
  rebeccapurple; */
  /* background: linear-gradient(105deg, white 39%, rgba(51,56,57,1) 96%) center center / 400px 200px no-repeat,
  url("https://i.imgur.com/lA2o5Rj.jpg") center no-repeat, rgb(82, 153, 51);
  /* display: grid; */
  /* margin: 10px;
  padding: 10px;
  background: gray;
  opacity: 0.7;
  height: 100%;
  width: 100%  */
}

#show-all-patterns {
  display: grid;
  /* grid-template-columns: auto auto; */
  grid-template-columns: repeat(2 4fr);
  grid-template-rows: repeat(4 4fr);
  grid-gap: 2rem;
}

/* #show-new-pattern {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
} */

/* #add-new-pattern {
  display: grid;
  grid-gap: 1px;
  /* grid-template-columns: repeat(2, minmax(auto, 22rem)); */
  /* grid-template-columns: 1fr, 1fr;
  grid-template-rows: repeat(7 1fr);
  justify-content: center; */
  /* grid-template-rows: 80px 80px;  */
  /* margin: 0 auto;
  width: 50% */
/* }  */

#add-new-pattern ,
#show-new-pattern * {
  font-size: 20px;
  padding: 5px;
  border-radius: 8px;

}

/* >>>>> ADD PATTERN PAGE <<<<< */

#add-new-pattern {
  width: 50%;
  background-color: #e89494;
  color: #510606;
  padding: 14px 20px;
  margin: 8px 0;
  border:#510606;
  border-radius: 4px;
  cursor: pointer;
}

#add-new-pattern input[type=text], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  /* display: inline-block; */
  border: 1px solid rgb(85, 10, 10);
  border-radius: 6px;
  border-width: 3px;
  box-sizing: border-box;
}

.add-pattern-button {

  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline:#e89494;
  color: #fff;
  background-color: #510606;
  border:rgb(201, 75, 125);
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.add-pattern-button:hover {background-color: rgb(201, 75, 125)}

.add-pattern-button:active {
  background-color: #510606;
  box-shadow: 0 5px rgb(201, 75, 125);
  transform: translateY(4px);
}



/* >>>>> EDIT PATTERN <<<<< */

#edit-pattern {
  width: 50%;
  background-color: #e89494;
  color: #510606;
  padding: 14px 20px;
  margin: 8px 0;
  border:#510606;
  border-radius: 4px;
  cursor: pointer;
}

#edit-pattern input[type=text], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  /* display: inline-block; */
  border: 1px solid rgb(85, 10, 10);
  border-radius: 6px;
  border-width: 3px;
  box-sizing: border-box;
}

.update-pattern-button {
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline:#e89494;
  color: #fff;
  background-color: #510606;
  border:rgb(201, 75, 125);
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.update-pattern-button:hover {background-color: rgb(201, 75, 125)}

.update-pattern-button:active {
  background-color: #510606;
  box-shadow: 0 5px rgb(201, 75, 125);
  transform: translateY(4px);
}



/* >>>>> ADD COMMENT FORM <<<<< */

#add-comment-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

#add-comment-form input[type="submit"] {
  width: 5rem;
  grid-column: 2 / 3;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.comment-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-user img {
  border-radius: 50%;
  height: 40px;
}

body > nav {
  grid-area: nav;
  background-color: #b06363;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 30px;
}

body > main {
  /* grid-area: main; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #E8ECEB; */
  padding: 5px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 15px;
  border-radius: 10px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #FA8072;
}

nav > a.active {
  color: white;
  cursor: default;
}

#footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: #510606;
  text-align: center;
  font-size: 20px;
}