* {
  box-sizing: border-box;
  font-family: 'Arima', cursive;
}

body {
 background-image: url("https://i.imgur.com/i4NRXMz.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  width:100%;
  height:100%;
  background-color: #FA8072;
}

a {
  color: white;
  font-size: 25px;
}

h1 {
  font-size: 160px;
  font-style: oblique;
  text-align: center;
  text-shadow: 4px 4px #f1a9a9;
  color: #510606;
  margin: 150px;
}

h2 {
  color: #510606;
  text-shadow: 4px 4px #f1a9a9;
  text-align: center;
  font-size: 70px;
  margin: -1px;
}

h4 {
  font-style: oblique;
  text-align: right;
  font-size: 35px;
  color: #d66a6a;
  margin-top: -140px;
}

#show-all-patterns {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}

#show-new-pattern {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  color: darkblue;
  font-size: 4rem;
  margin: 2rem;
  grid-gap: 0rem;
  column-gap: normal;
}

#image {
  margin-left: 180px;
  overflow: hidden;
}

#add-new-pattern,
#show-new-pattern * {
  font-size: 20px;
  padding: 5px;
  border-radius: 8px;
}

/* >>>>> ADD PATTERN PAGE <<<<< */

#add-new-pattern {
  width: 50%;
  background-color: #e89494;
  color: #510606;
  padding: 14px 20px;
  margin: 8px 0;
  border:#510606;
  border-radius: 4px;
  cursor: pointer;
}

#add-new-pattern input[type=text], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid rgb(85, 10, 10);
  border-radius: 6px;
  border-width: 3px;
  box-sizing: border-box;
}

.add-pattern-button {
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline:#e89494;
  color: #fff;
  background-color: #510606;
  border:rgb(201, 75, 125);
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.add-pattern-button:hover {background-color: rgb(201, 75, 125)}

.add-pattern-button:active {
  background-color: #510606;
  box-shadow: 0 5px rgb(201, 75, 125);
  transform: translateY(4px);
}

/* >>>>> EDIT PATTERN <<<<< */

a > #edit-pattern {
  width: 50%;
  background-color: #e89494;
  color: #510606;
  padding: 14px 20px;
  margin: 8px 0;
  border:#510606;
  border-radius: 4px;
  cursor: pointer;
}

#edit-pattern input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid rgb(85, 10, 10);
  border-radius: 6px;
  border-width: 3px;
  box-sizing: border-box;
}

.update-pattern-button {
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #510606;
  border:rgb(201, 75, 125);
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.update-pattern-button:hover {background-color: rgb(201, 75, 125)}

.update-pattern-button:active {
  background-color: #510606;
  box-shadow: 0 5px rgb(201, 75, 125);
  transform: translateY(4px);
}

.delete-pattern-button:hover, .edit-pattern-button:hover, .post-comment-button {
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #510606;
  border:rgb(201, 75, 125);
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.delete-pattern-button:hover, .edit-pattern-button:hover, .post-comment-button {background-color: rgb(201, 75, 125)}

.delete-pattern-button:hover, .edit-pattern-button:hover, .post-comment-button {
  background-color: #510606;
  box-shadow: 0 5px rgb(201, 75, 125);
  transform: translateY(4px);
}

/* >>>>> ADD COMMENT FORM <<<<< */

#add-comment-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

#add-comment-form input[type="submit"] {
  width: 5rem;
  grid-column: 2 / 3;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.comment-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-user img {
  border-radius: 50%;
  height: 40px;
}

body > nav {
  background-color: #b06363;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 30px;
}

body > main {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

div > a {
  color:darkblue;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 15px;
  border-radius: 10px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #FA8072;
}

nav > a.active {
  color: white;
  cursor: default;
}

#footer {
  width: 100%;
  color: #510606;
  text-align:left;
  font-size: 20px;
  margin-top: 150px;
}

table {
  font-size: 20px;
  color: blue;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #d26058;
}

table td {
  padding: 10px;
  text-align: center;
}