<%- include('../partials/header') %>

   <h2>MY PATTERNS</h2>
   <section id="show-my-patterns">

      <div><% patterns.forEach(function(p) { %></div>
         <% if ( req.user?._id.equals(p.req.user) ) { %>
         <div>
            <a href="/patterns/<%= p._id %>"><%= p.name %></a>
         </div>
      <% }); %>
    </section>
   


<%- include('../partials/footer') %>