<%- include('./partials/header') %>

<h2>ALL PATTERNS</h2>
<a href="https://i.imgur.com/ToNNEzp.png">View</a>
<a href="https://i.imgur.com/ToNNEzp.png">View</a>
<a href="https://i.imgur.com/ToNNEzp.png">View</a>
<a href="https://i.imgur.com/ToNNEzp.png">View</a>


<%- include('./partials/footer') %>