<%- include('../partials/header') %>

<h2>ALL PATTERNS</h2>
<div id="patterns-images">
   <p><a href="Scarf">
      <img src="https://i.imgur.com/ToNNEzp.png" alt="Scarf" width="250" height="250">
   </a>Scarf</p>
   <p><a href="Hat">
      <img src="https://i.imgur.com/ToNNEzp.png" alt="Hat" width="250" height="250">
   </a>Hat</p>
   <p><a href="Sweater">
      <img src="https://i.imgur.com/ToNNEzp.png" alt="Sweater" width="250" height="250">
   </a>Sweater</p>
   <p><a href="Headband">
      <img src="https://i.imgur.com/ToNNEzp.png" alt="Headband" width="250" height="250">
   </a>Headband</p>
</div>

<!-- <a href="https://i.imgur.com/ToNNEzp.png">Scarf</a> -->


<%- include('../partials/footer') %>