<%- include('../partials/header') %>

   <h2>ALL PATTERNS</h2>
   <section>
      <div><% patterns.forEach(function(p) { %></div>
         <div id="show-all-patterns">
            <a href="/patterns/<%= p._id %>"><img src="<%= p.imgUrl %>" height="250" width="250"></a>
         </div>
      <% }); %>
    </section>
   
<%- include('../partials/footer') %>