<%- include('../partials/header') %>

<h2>Add a New Pattern</h2>
  <form id="add-new-pattern" action="/patterns" method="POST">
    <label>Pattern Name:
      <input type="text" name="name">
    </label><br>
    <label>Materials:
      <input type="text" name="materials">
    </label><br>
    <label>Details:
      <input type="text" name="details">
    </label><br>
    <label>Image URL:
      <input type="text" name="imgUrl">
    </label><br>
    <label>Difficulty Level:
      <select name="difficulty">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </label><br>
    <label>Instructions:
      <textarea name="content"></textarea>
    </label><br>
    <button class="add-pattern-button">Add Pattern</button>
  </form>

<%- include('../partials/footer') %>